html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	font-size: 14px;
	font-family: "Kanit", sans-serif;
	color: #fff;
	position: fixed;
	overflow: hidden;
	min-height: 100vh;
	cursor: none;
	max-width: 2560px;
    margin: auto;
    left: 0;
    right: 0;
}

#cursor {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	pointer-events: none;
	will-change: transform;
	opacity: 1
}

.cursor_circle {
	width: 100px;
	height: 100px;
	margin-top: 0%;
	margin-left: 10%;
	background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2VpZnI5M2kxaG0zY21oMm0zZXhlNTU5NHY1YTIyd3RqcGt4aGVrNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/RhoIsLnvQqwtWISOZa/giphy.gif') no-repeat center center;
	background-size: contain;
	pointer-events: none;
	transition: opacity 0.3s cubic-bezier(.25, 1, .5, 1), width 0.3s cubic-bezier(.25, 1, .5, 1), height 0.3s cubic-bezier(.25, 1, .5, 1);
	animation: float 1.5s ease-in-out infinite;
	mix-blend-mode: normal;
	backdrop-filter: none;
	border-radius: 0;
}

.cursor_circle.active {
	width: 100px;
	height: 100px;
	margin-left: 5%;
	background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHlpZ3gyd2JyMGZzbWZqeXJ1MTFnOTN0dHIxZmF0aGdnbGI5YjRpYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/ZLrdkMSMEvVTEl9Vwp/giphy.gif') no-repeat center center;
	background-size: contain;
	animation: float 0.8s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translate(-50%, -50%) translateY(0);
	}

	50% {
		transform: translate(-50%, -50%) translateY(-6px);
	}

	100% {
		transform: translate(-50%, -50%) translateY(0);
	}
}

.switchBtn {
	position: fixed;
	z-index: 99999;
	bottom: 40px;
	right: 40px;
	animation: bounce 2s infinite, colorCycle 10s infinite linear;
	background: #47defe99;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 20px #63c5da;
	transition: all .3s;
	flex-direction: column;
	line-height: 1.3;
}

.switchBtn:hover {
	background: #47b9d1;
	box-shadow: 0 0px 50px #63c5da;
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
	}
}

@keyframes colorCycle {
	0% {
		background: #47defe99;
		box-shadow: 0 5px 20px #63c5da;
	}
	25% {
		background: #e65d3499;
		box-shadow: 0 5px 20px #e65d3499;
	}
	50% {
		background: #f7454a99;
		box-shadow: 0 5px 20px #f7454a99;
	}
	75% {
		background: #f581d499;
		box-shadow: 0 5px 20px #f581d499;
	}
	100% {
		background: #47defe99;
		box-shadow: 0 5px 20px #63c5da;
	}
}

.cursor_circle.hidden {
	display: none;
}

/***************************************************************/
/* ======================== CANDLE =========================== */
/***************************************************************/
.bg_candle {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	min-height: 100vh;
}

#candle {
	position: absolute;
	left: calc(50% - .75em);
	bottom: 25%;
	width: 1.5em;
	height: 10em;
	overflow: hidden;
	opacity: 0;
	transform: scale(0.3) translateY(50px);
	transition: all 1.2s ease;
}

#candle.visible {
	opacity: 1;
	transform: scale(1.7) translateY(0);
	transition: all 1.2s ease;
}

#candle::before {
	position: absolute;
	bottom: 0;
	left: 8%;
	content: '';
	width: 84%;
	height: 80%;
	background: linear-gradient(whitesmoke 0, #1e1934 125%);
	border-radius: 0.25em;
	box-sizing: border-box;
	border: 1px solid #333;
}

#top {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2em;
	background-color: transparent;
}

#top #knot {
	position: absolute;
	bottom: 0;
	left: calc(50% - .05em);
	height: 0.5em;
	width: 0.1em;
	background-color: #0f3146;
}

#top .smoke {
	position: absolute;
	opacity: 0;
	border-radius: 100%;
}

#top .smoke:nth-child(1) {
	bottom: 0.1em;
	left: calc(50% - .5em);
	height: 0.5em;
	width: 0.5em;
	background-color: silver;
}

#top .smoke:nth-child(2) {
	bottom: 0.6em;
	left: 50%;
	height: 0.6em;
	width: 0.6em;
	background-color: lightgray;
	animation-delay: 0.2s;
}

#top .smoke:nth-child(3) {
	bottom: 1.1em;
	left: 20%;
	height: 0.3em;
	width: 0.3em;
	background-color: whitesmoke;
	animation-delay: 0.3s;
}

#top #flame {
	position: absolute;
	bottom: 0.15em;
	width: 1.5em;
	height: 1.6em;
	background-color: #ffee86;
	border-radius: 100%;
	box-shadow: inset 0 0 0 0.1em #ffee86;
	transform: rotateY(30deg);
	cursor: none;
}

#top #flame::after {
	position: absolute;
	content: '';
	width: 0.7em;
	height: 0.9em;
	bottom: 10%;
	left: calc(50% - .35em);
	background-color: #ff3200;
	border-radius: 100%;
	animation: burnInner 1.5s ease-in-out infinite;
}

#top #flame:hover {
	transition: all 0.1s ease-in-out;
	background-color: yellow;
}

#top #flame:hover::after {
	background-color: red;
}

@keyframes burn {
	0% {
		height: 1.7em;
		transform: rotateY(30deg);
	}

	50% {
		height: 1.3em;
		transform: rotateY(0deg);
		opacity: 0.9;
	}

	100% {
		height: 1.7m;
		transform: rotateY(30deg);
	}
}

@keyframes burnInner {
	0% {
		height: 0.9em;
		transform: rotateX(0deg);
	}

	50% {
		height: 0.8em;
		transform: rotateX(30deg);
	}

	100% {
		height: 0.9em;
		transform: rotateX(0deg);
	}
}

.burn {
	animation: burn 1.5s ease-in-out infinite;
}

.stripe {
	position: absolute;
	left: -0.25em;
	width: 2em;
	height: 0.25em;
	background-color: #ff4b6f;
	transform: rotate(25deg);
	border-radius: 100%;
	box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .25);
}

.stripe:nth-child(1) {
	top: 2.7em;
	opacity: 1.4;
}

.stripe:nth-child(2) {
	top: 4.2em;
	opacity: 0.9;
}

.stripe:nth-child(3) {
	top: 5.7em;
	opacity: 0.7333333333;
}

.stripe:nth-child(4) {
	top: 7.2em;
	opacity: 0.65;
}

.stripe:nth-child(5) {
	top: 8.7em;
	opacity: 0.6;
}

h1 {
	font-size: 140px;
	letter-spacing: 4px;
}

.h1_animated span {
	display: inline-block;
	opacity: 0;
	transform: scale(2.5) translateY(-80px);
	animation: zoomCinematic 0.6s forwards;
	animation-timing-function: cubic-bezier(0.23, 1.15, 0.32, 1);
}

@keyframes zoomCinematic {
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

.h1_to_header {
	transform: translateY(-130px);
	transition: all 1s ease;
	z-index: 999;
}

.zoom_out {
	animation: zoomOutCandle 1.2s ease forwards;
}

@keyframes zoomOutCandle {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

/***************************************************************/
/* ======================== HEART  =========================== */
/***************************************************************/
.heart {
	position: fixed;
	top: -30px;
	color: #ff6b81;
	font-size: 16px;
	animation: fall 5s linear infinite;
	pointer-events: none;
	z-index: 999;
	opacity: 0.5;
	transform: scale(1);
}

@keyframes fall {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}

	100% {
		transform: translateY(100vh) scale(1.2);
		opacity: 0;
	}
}

/***************************************************************/
/* ======================== BG     =========================== */
/***************************************************************/
.bg {
	position: relative;
	overflow: hidden;
	opacity: 0;
	transform: scale(1);
	transform-origin: center center;
	transition: opacity 1.5s ease, transform 2s ease;
	height: 100vh;
}

.bg.zoom_in_bg {
	opacity: 1;
	position: relative;
}

.overlay_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: block;
	z-index: 10
}

.bg_img {
	object-position: 0 -400px;
	width: 100%;
	filter: contrast(95%);
}

.bg .onlyText {
	text-align: justify;
	color: #fff;
	background: #5b5b5b;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Playwrite MX Guides", cursive;
	line-height: 19px;
	margin: 0;
	font-size: 8px;
}

.bg_music,
.bg_love {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	position: relative;
	z-index: 1;
}

.bg_music.hidden,
.bg_love.hidden {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 0;
}

.bg_love {
	width: 100%;
	height: 100%
}

/***************************************************************/
/* ======================== MUSIC  =========================== */
/***************************************************************/
.bg_music {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 1001
}

.musicBox {
	display: flex;
	align-items: center;
	justify-content: end;
	height: 100vh;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 9999
}

.album-cover,
.music-player {
	position: relative;
	z-index: 9999
}

.bg_music video {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: scale(1.05);
	opacity: 0.5;
}

.album-cover {
    width: 90%;
}

.swiper {
    width: 100%;
    padding: 40px 0 !important;
}

.swiper-slide {
    position: relative;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    opacity: 0.4;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    pointer-events: none;
    user-select: none;
}

.swiper-slide-active {
    opacity: 1;
    animation: zoom .5s infinite alternate;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* Music Player */
.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);
    width: 100%;
    padding: 0px 20px 50px;
    border-radius: 20px;
}

.music-player h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
    height: 60px;
	margin-bottom: 10px
}

.music-player p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 0;
}

/* Music Player Progress */
#progress {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, #63c5da var(--progress, 0%), rgba(163, 162, 164, 0) var(--progress, 0%));
    cursor: pointer;
    z-index: 10;
    position: relative;
    border-radius: 10px;
}

.progress-wrapper {
    max-width: 380px;
    background: rgba(163, 162, 164, 0.4);
    margin: 30px 0;
    border-radius: 10px;
    height: 7px;
    display: flex;
    align-items: center;
}

#progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(163, 162, 164, 0.9);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid var(--primary-clr);
    box-shadow: 0 6px 10px rgba(5, 36, 28, 0.3);
}

/* Music Player Controls */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1/1;
    margin: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: var(--primary-clr);
    border-radius: 50%;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    box-shadow: 0 5px 20px #63c5da;
    transition: all 0.3s linear;
    cursor: unset;
}

.controls button:is(:hover, :focus-visible) {
    transform: scale(0.96);
}

.controls button:nth-child(2) {
    transform: scale(1.3);
    background: #6ab7c7;
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
    transform: scale(1.25);
}

.emoji-particle {
    position: absolute;
    animation: emoji-bounce 1.2s ease-out forwards;
    will-change: transform;
    transform: translateY(0);
    opacity: 0;
    pointer-events: none !important;
    z-index: 1;
}

@keyframes emoji-bounce {
    0% {
        opacity: 0;
        transform: translateY(0) scale(1);
    }

    30% {
        opacity: 1;
        transform: translateY(-5px) scale(1.2);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px) scale(0.8);
    }
}

.announcement {
	position: absolute;
    width: 100%;
    z-index: 1001;
    left: 0;
    padding: 15px;
    color: #a1a1a1;
}

/***************************************************************/
/* ======================== MEDIA  =========================== */
/***************************************************************/
@media only screen and (max-width: 2560px) and (min-width: 2200px) {
    .bg_img {
        object-position: 0 -650px !important;
    }
}

@media only screen and (min-width: 1700px) {
	.bg_img {
		object-position: 0 -500px;
		width: 100%;
		filter: contrast(95%);
	}

	.bg_music video {
		transform: scale(1.2);
	}
}

@media only screen and (max-width: 1500px) {
	.textLove {
		left: 20px !important
	}
}

@media only screen and (max-width: 1400px) {
	.bg_candle, .bg_music, .switchBtn, .bg_img, .imgBg, .bg .onlyText {
		display: none !important;
		opacity: 0 !important;
        visibility: hidden !important;
	}

	#cursor {
		display: none
	}

	body {
		cursor: auto
	}

	.bg {
		opacity: unset;
	}

	.bg_music.hidden, .bg_love.hidden {
		opacity: 1;
    	visibility: visible;
    	position: relative;
     	z-index: 10;
	}

	.textLove {
		text-align: center;
		left: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		font-size: 20px;
		max-height: 70% !important;
	}
}


@media only screen and (max-width: 767px) {
	.textLove {
		font-size: 18px;
	}
}


@media only screen and (max-width: 400px) {
	.textLove {
		font-size: 16px;
	}
}
